/* Start Global Rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --main-clr: #ffe100;
    --SidePadding: 4em;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul,
li {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Start Media Queries */
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1185px;
    }
}

/* End Media Query */

/* Start Components */
/* .section {} */

.main-heading {
    text-align: left;
}

.main-heading h1 {
    font-weight: 900;
    font-size: 2.5em;
    line-height: 1.15;
    text-transform: uppercase;
}

.main-heading p {
    margin-bottom: 2.5em;
    line-height: 2;
    font-size: 16px;
    font-weight: 500;
}

/* End Components  */
/* Start Global Rules */

/* Start Header */
header {
    width: 100%;
    /* padding: var(--SidePadding) 0; */
}

header .container {
    justify-content: space-between;
    position: relative;
}

@media (max-width: 767.8px) {
    header .container nav .bars i {
        display: block;
    }

    header .container nav .bars ul {
        display: none;
    }

    header .container nav .bars:hover ul {
        display: flex;
        position: absolute;
        left: 15px;
        top: 5em;
        flex-direction: column;
        align-items: flex-start;
        gap: 2em;
        padding: 15px;
        background-color: #edf2f6;
        width: calc(100% - 30px);
    }

    header .container nav .bars ul li:hover {
        padding-left: 20px;
    }

    header .container nav .bars ul li:hover::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 3px;
        background-color: var(--main-clr);
        border-radius: 10px;
    }
}

header img {
    height: 70px;
}

header nav .bars i {
    display: none;
}

header nav ul {
    gap: 1.5em;
}

header nav ul li {
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    transition: .3s;
}

@media (min-width: 768px) {
    header nav ul li {
        padding: 0 15px;
    }
}

@media (min-width:768px) {
    header nav ul li:hover::after {
        content: "";
        display: block;
        height: 3px;
        border-radius: 15px;
        background-color: var(--main-clr);
        position: relative;
        left: 50%;
        top: 10px;
        transform: translate(-50%);
        animation: down_border .3s linear;
    }

    @keyframes down_border {
        0% {
            left: 0;
            top: 0;
            width: 0;
        }

        50% {
            left: 50%;
            top: 2px;
            width: 10%;
        }

        100% {
            /* left: 10%; */
            top: 10px;
            width: 100%;
        }
    }
}

header nav ul li a {
    color: #000;
}

/* End Header */

/* Start Face  */
.face {
    padding: var(--SidePadding) 0;
    /* height: calc(100vh - 74px); */
}

.face .container {
    justify-content: space-between;
    align-items: start;
    gap: 2em;
    margin-top: 5%;
}

@media (max-width: 767.8px) {
    .face .container {
        align-items: center;
        flex-direction: column;
        gap: 2em;
        /* height: 100%; */
        /* margin-bottom: 2em; */
    }
}

.face .text input[type="submit"] {
    background: var(--main-clr);
    outline: none;
    border: none;
    padding: 12px 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -1px;
    cursor: pointer;
    transition: .3s;
}

.face .text input[type="submit"]:hover {
    color: #fff;
}

.face .image img {
    width: 600px;
    max-width: 100%;
}

@media (max-width: 767.8px) {
    .face .image img {
        width: 400px;
        min-width: 100%;
        margin: 0 auto;
    }
}


/* End Face  */

/* Start Work */
.work {
    padding: var(--SidePadding) 0;
}

.work .container h1 {
    margin-top: 0;
}

.work .worknav {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em;
    cursor: pointer;
}

@media (max-width: 750px) {
    .work .worknav {
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;
    }
}

.work .worknav ul {
    transition: .3s;
}

.work .worknav ul li {
    font-weight: 600;
    text-transform: uppercase;
    width: fit-content;
    padding: 10px 20px;
    cursor: pointer;
}

@media (max-width: 767.8px) {
    .work .worknav ul li:not(:first-of-type) {
        display: none;
    }

    .work .worknav ul:hover li {
        display: block;
    }
}

.active {
    background-color: var(--main-clr);
}

.work .worknav div {
    align-items: center;
    gap: .5em;
    text-transform: uppercase;
    font-weight: 600;
}

/* ---------- Gallery ----------*/
/* Screens Over Than 767px */
@media(max-width: 767.8px) {
    .work .container .work-gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
    }

    .work .container .work-gallery .picture {
        flex-basis: 45%;
        height: 150px;
    }
}

/* Screens Less Than 420px */
@media(max-width: 420px) {
    .work .container .work-gallery {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
    }

    .work .container .work-gallery .picture {
        flex-basis: 100%;
        height: 150px;
    }
}

/* Medium */
@media (min-width: 768px) {
    .work .container .work-gallery {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 200px);
        gap: 2em;
        grid-template-areas:
            "work  hand   circle"
            "shoes   hand  lemon"
            "shoes   tree  lemon";
    }
}

.work .container .work-gallery .picture:first-of-type {
    grid-area: work;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgba(255, 225, 0, 0.85);
}

.work .container .work-gallery .picture:first-of-type img {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: -1;
}

.work .container .work-gallery .picture:first-of-type .text {
    position: absolute;
}

.work .container .work-gallery .watchhand {
    grid-area: hand;
    position: relative;
    background-color: #e4f0f0;
}

.work .container .work-gallery .watchhand img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.work .container .work-gallery .circle {
    grid-area: circle;
    position: relative;
}

.work .container .work-gallery .circle img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.work .container .work-gallery .shose {
    grid-area: shoes;
    position: relative;
}

.work .container .work-gallery .shose img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.work .container .work-gallery .tree {
    grid-area: tree;
    position: relative;
}

.work .container .work-gallery .tree img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.work .container .work-gallery .lemon {
    grid-area: lemon;
    position: relative;
}

.work .container .work-gallery .lemon img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

/* component */
.one {
    font-weight: 700;
    text-transform: uppercase;
}

.one h3 {
    padding-top: 1em;
    font-size: 28px;
}

.one p {
    font-weight: 600;
    padding: 1em 0;
    text-align: center;
}

/* component */
/* ---------- End Gallery ---------- */

.work .container .btn {
    text-align: center;
    width: fit-content;
    margin: 4em auto 0;
    padding: 10px 30px;
    font-weight: 700;
    text-transform: uppercase;
    display: block;
    transition: .3s;
}

.work .container .btn:hover {
    color: #fff;
}

/* End Works */

/* Start Contracts */
.contracts {
    background-color: #fefcfc;
    padding: 20px 10px;
}

.contracts .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: .8em;
    max-width: 100%;
}

.contracts .container div {
    position: relative;
}

@media (max-width: 767px) {
    .contracts .container div {
        text-align: center;
    }
}

.contracts .container div img {
    width: 180px;
    aspect-ratio: 4/4;
    object-fit: cover;
    object-position: center;
}

.contracts .container div:nth-of-type(4) {
    height: 180px;
}

.contracts .container div:nth-of-type(2) img:nth-child(2) {
    height: 180px;
}

/* End Contracts */

/* Start About US */
.about {
    padding: var(--SidePadding) 0;
    position: relative;
}

.about .container {
    position: relative;
}

.about .about-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2em;
    position: relative;
}

@media (max-width: 767.8px) {
    .about .about-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2em;
        overflow: hidden;
    }
}

.about .about-content .box-one,
.about .about-content .box-two {
    position: relative;
    margin: 0 auto;
}

.about .about-content .box-one img {
    max-width: 100%;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

.about .about-content .box-two img {
    height: 400px;
    width: 400px;
    margin: 0 auto;
}

.about .about-content .text {
    position: absolute;
    z-index: 5;
    background: var(--main-clr);
    bottom: 4px;
    left: 0;
    padding: 5px 35px;
    text-transform: capitalize;
}

.about .about-content .text h4 {
    font-size: 18px;
}

.about .about-content .text p {
    color: #fff;
    padding: 5px 0;
    font-weight: 600;
}

.about .about-content .box-three {
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

@media(min-width: 768px) {
    .about .about-content .box-three {
        gap: 2em;
    }
}

@media (min-width: 1200px) {
    .about .about-content .box-three {
        gap: 3em;
    }
}

@media (min-width: 984px) {
    .about .about-content .box-three {
        padding-left: 3em;
    }
}

.about .about-content .box-three h3 {
    font-size: 20px;
    font-weight: 800;
    text-transform: capitalize;
}

.about .about-content .box-three p:first-of-type {
    line-height: 2;
    font-weight: 700;
}


.about .about-content .box-three p:last-of-type a {
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
}

.about .about-content .box-three p:last-of-type a:hover {
    text-shadow: 4px 5px 4px #777777;
}

/* End About US */

/*  Start OUR BLOG */
.blog {
    padding: var(--SidePadding) 0;
}

.blog .container .main-heading p {
    margin-bottom: 4em;
}

/*-----------------------------------*/
.blog .blog-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

@media (min-width: 768px) {
    .blog .blog-cards {
        gap: 2em;
    }

    .blog .blog-cards .cart {
        width: 345px;
        flex-basis: 47%;
    }

    .blog .blog-cards .cart .image {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .blog .blog-cards {
        gap: 3em;
    }

    .blog .blog-cards .cart {
        width: 345px;
        flex-basis: 25%;
    }

    .blog .blog-cards .cart .image {
        width: 345px;
    }
}

.blog .container .blog-cards .cart {
    position: relative;
    width: 400px;
    max-width: 100%;
    background: #fff;
    box-shadow: 3px 3px 13px #777;
    transition: .3s;
}

@media (max-width: 767.8px) {
    .blog .blog-cards .cart {
        width: 345px;
        flex-basis: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .blog .blog-cards .cart .image {
        width: 100%;
    }
}

/* .blog .container .blog-cards .cart .image {} */

.blog .container .blog-cards .cart .image img {
    height: 300px;
    width: 100%;
}

.blog .blog-cards .cart .text {
    padding: 5px 10px;
}

.blog .blog-cards .cart .text h4 {
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 1.5em;
    padding: 5px;
}

.blog .blog-cards .cart .text p:first-of-type {
    line-height: 1.7;
    font-weight: 700;
}

.blog .blog-cards .cart .text p:last-of-type {
    padding: 10px;
    font-weight: 600;
}

/*-----------------------------------*/

.blog .blog-cards .cart:first-of-type .image {
    position: relative;
}

.blog .blog-cards .cart:first-of-type .image::after {
    content: "read more";
    position: absolute;
    left: 0;
    top: 0;
    background: #ffff00d6;
    width: 100%;
    height: 99%;
    color: #000;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
}

.blog .blog-cards .cart:hover:first-of-type {
    transform: rotate(-1deg) translateY(-10px);
}

.blog .blog-cards .cart:hover:nth-of-type(2) {
    transform: translateY(-10px);
}

.blog .blog-cards .cart:hover:last-of-type {
    transform: rotate(1deg) translateY(-10px);
}

/* End OUR BLOG */

/* Start Contact US- */
.contact {
    padding: var(--SidePadding) 0;
}

.contact .container {
    position: relative;
}

/* .contact .content {
    display: flex;
    align-items: center;
    justify-content: center;
} */
.contact .content .mail {
    justify-content: space-between;
    align-items: flex-start;
    gap: 2em;
}

@media (max-width: 767.8px) {
    .contact .content .mail {
        flex-direction: column;
        justify-content: space-between;
    }

    .contact .content .mail .idontity-box {
        width: 100%;
    }

    .contact .content .mail img {
        width: 100%;
        height: 400px;
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .contact .content .mail .idontity-box {
        width: 60%;
    }
}

.contact .content .mail .idontity-box h3 {
    font-weight: 800;
    text-transform: capitalize;
    font-size: 1.4em;
}

.contact .content .mail .idontity-box form {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1.5em;
    margin-top: 1em;
}

.contact .content .mail .idontity-box form input {
    outline: none;
    height: 2.5em;
    width: 100%;
    padding-left: 10px;
    caret-color: var(--main-clr);
}

.contact .content .mail .idontity-box form ::placeholder {
    font-weight: 600;
    text-transform: capitalize;
    color: #999;
}

.contact .content .mail .idontity-box form textarea {
    width: 100%;
    outline: none;
    height: 140px;
    padding-left: 10px;
    padding-top: 10px;
    caret-color: var(--main-clr);
}

.contact .content .mail .idontity-box form a {
    width: fit-content;
    padding: 15px 25px;
    background: var(--main-clr);
    outline: none;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    transition: .3s;
}

.contact .content .mail .idontity-box form a:hover {
    color: #fff;
}

@media (min-width: 768px) {
    .contact .content .mail img {
        width: 400px;
        height: 400px;
    }
}

/* address */
.contact .content .media {
    align-items: flex-start;
    gap: 7em;
    margin: 7em 0 2em;
}

@media (max-width: 750px) {
    .contact .content .media {
        display: block;
    }

    .contact .content .media .one {
        margin-bottom: 3em;
    }
}

.contact .content .media .one {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.contact .content .media address {
    line-height: 1.7;
}

/* Icons */
.contact .content .icons {
    text-align: center;
}

.contact .content .icons i {
    padding: 0 1em;
    margin: 2em auto 0;
}

@media (max-width: 332px) {
    .contact .content .icons i {
        padding: 0 .3em;
    }
}

/* End Contact US */

/* Footer */
footer {
    padding: var(--SidePadding) 0;
    background-color: #221d1d;
}

footer .container {
    justify-content: space-between;
}

@media (max-width: 700px) {
    footer .container {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    footer .container a {
        order: -1;
    }
}

footer .container .logo {
    gap: 1em;
}

@media(max-width: 460px) {
    footer .container .logo {
        display: flex;
        flex-direction: column;
    }
}

footer .container .logo p:first-of-type {
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
}

footer .container .logo p {
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
}

footer .container a {
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}

footer .container a i {
    padding-left: 10px;
}


/* End Footer  */